.btn {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #2656d3;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
 
cursor: pointer;
}
    .btn:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    } 